{% extends "layout.html" %}

{% block title %}
About Solace
{% endblock %}


{% block main %}
<section class="bg-[#0b0813] text-gray-300">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">About Solace Studio</h2>

      <p class="mt-4 text-gray-300">

        Solace Studio is the Premier Game Development Club for Bennett University.

        Solace Studio focuses on making game development easier for every student.
      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>



        <h2 class="mt-4 text-xl font-bold text-gray-300">World Class Developers</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio has a team of world class developers who are always ready to help you with your game
          development.
        </p>
      </a>

      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>

        <h2 class="mt-4 text-xl font-bold text-gray-300">Regular Workshops</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio conducts regular workshops to help students learn game development.
        </p>
      </a>

      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>

        <h2 class="mt-4 text-xl font-bold text-gray-300">Spectacular Events</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio conducts spectacular events to encourage students to participate in game development.
        </p>
      </a>

      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>

        <h2 class="mt-4 text-xl font-bold text-gray-300">Industry Collaborations</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio has World Class Industry Collaborations for every query you have.
        </p>
      </a>

      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>

        <h2 class="mt-4 text-xl font-bold text-gray-300">Highest Rated Student Club</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio is the highest rated student club in Bennett University.
        </p>
      </a>

      <a class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
        href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>

        <h2 class="mt-4 text-xl font-bold text-gray-300">World of Oppurtunities</h2>

        <p class="mt-1 text-sm text-gray-300">
          Solace Studio provides you with a world of oppurtunities to learn and grow.
        </p>
      </a>
    </div>


  </div>
</section>

<section class="bg-[#0b0813]">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold text-gray-300 sm:text-4xl">Game Studio at Bennett University</h2>

      <p class="mt-4 text-gray-500 sm:text-xl">
        Solace Studio is the most visited and the most loved club in Bennett University.
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-900">Total Visitors</dt>

          <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">15000+</dd>
        </div>

        <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-900">Total Investment</dt>

          <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">&#8377;3,50,00,000+</dd>
        </div>

        <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-900">Total Events</dt>

          <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">6</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<section class="max-w-6xl mx-auto px-8 sm:px-12 min-w-full lg:px-24 py-12 bg-[#0b0813] ">
  <div class="text-center pb-12">
    <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-300">
      Our Core Team
    </h1>
    <p class="mt-4 text-gray-500 sm:text-xl">
      Experts in their respective fields.
    </p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-12">
    {% for member in core %}
    <div
      class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
      <div class="mb-8">
        <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]"
          src="{{member.pictures[0]}}" alt="photo">
      </div>
      <div class="text-center">
        <p class="text-xl text-gray-900 font-bold mb-2">{{member.name}}</p>
        <div class="flex gap-1">
          <span
            class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">{{member.role}}</span>
          <span
            class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">{{member.team}}</span>
        </div>
        <div class="flex justify-center mt-4">
          <a href="{{ member.linkedin }}" target="_blank" rel="noopener noreferrer" class="m-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-7 text-[#6b44ff]" fill="#6b44ff" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.71c-.96 0-1.75-.79-1.75-1.75s.79-1.75 1.75-1.75 1.75.79 1.75 1.75-.79 1.75-1.75 1.75zm13.5 12.71h-3v-5.56c0-3.37-4-3.12-4 0v5.56h-3v-11h3v1.56c1.39-2.56 7-2.77 7 2.44v7z"></path>
          </svg>
          </a>
          <a href="{{ member.instagram }}" target="_blank" rel="noopener noreferrer" class="m-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-10 text-[#6b44ff]" fill="#6b44ff" viewBox="0 0 24 24"
            ><path d="M11 0H5a5 5 0 0 0-5 5v6a5 5 0 0 0 5 5h6a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zm3.5 11c0 1.93-1.57 3.5-3.5 3.5H5c-1.93 0-3.5-1.57-3.5-3.5V5c0-1.93 1.57-3.5 3.5-3.5h6c1.93 0 3.5 1.57 3.5 3.5v6z"></path><path d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 6.5A2.503 2.503 0 0 1 5.5 8c0-1.379 1.122-2.5 2.5-2.5s2.5 1.121 2.5 2.5c0 1.378-1.122 2.5-2.5 2.5z"></path><circle cx="12.3" cy="3.7" r=".533"></circle></svg>
          </a>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>
  </div>
</section>



{% endblock %}