{% extends "layout.html" %}

{% block title %}
    About Solace
{% endblock %}


{% block main %}
<section class="bg-[#0b0813] text-gray-300">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold sm:text-4xl">About Solace Studio</h2>
  
        <p class="mt-4 text-gray-300">

            Solace Studio is the Premier Game Development Club for Bennett University.
            
            Solace Studio focuses on making game development easier for every student.
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>

        
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">World Class Developers</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio has a team of world class developers who are always ready to help you with your game development.
          </p>
        </a>
  
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">Regular Workshops</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio conducts regular workshops to help students learn game development.
          </p>
        </a>
  
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">Spectacular Events</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio conducts spectacular events to encourage students to participate in game development.
          </p>
        </a>
  
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">Industry Collaborations</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio has World Class Industry Collaborations for every query you have.
          </p>
        </a>
  
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">Highest Rated Student Club</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio is the highest rated student club in Bennett University.
          </p>
        </a>
  
        <a
          class="block rounded-xl border no-underline border-gray-800 p-8 shadow-xl transition hover:border-[#6b44ff]/10 hover:shadow-[#6b44ff]/10"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-10 text-[#6b44ff]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-gray-300">World of Oppurtunities</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Solace Studio provides you with a world of oppurtunities to learn and grow.
          </p>
        </a>
      </div>
  

    </div>
  </section>

  <section class="bg-[#0b0813]">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-gray-300 sm:text-4xl">Most Visited Club</h2>
  
        <p class="mt-4 text-gray-500 sm:text-xl">
            Solace Studio is the most visited and the most loved club in Bennett University.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-900">Total Visitors</dt>
  
            <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">15000+</dd>
          </div>
  
          <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-900">Total Participants</dt>
  
            <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">1200+</dd>
          </div>
  
          <div class="flex flex-col rounded-lg border-2 border-[#6b44ff] bg-[#d3c7ff] px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-900">Total Events</dt>
  
            <dd class="text-4xl font-extrabold text-[#6b44ff] md:text-5xl">6</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
  <section class="max-w-6xl mx-auto px-8 sm:px-12 min-w-full lg:px-24 py-12 bg-[#0b0813] ">
    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-300">
            Our Core Team
        </h1>
        <p class="mt-4 text-gray-500 sm:text-xl">
            Experts in their respective fields.
        </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-12">
        {% for member in members %}
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="{{member.photo}}" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">{{member.name}}</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">{{member.role}}</span>
            </div>
        {% endfor %}
        
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="/static/assets/001.png" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">Rakesh</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">President</span>
            </div>
        </div>
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="/static/assets/001.png" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">Rakesh</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">President</span>
            </div>
        </div>
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="/static/assets/001.png" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">Rakesh</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">President</span>
            </div>
        </div>
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="/static/assets/001.png" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">Rakesh</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">President</span>
            </div>
        </div>
        <div class="w-full bg-[#d3c7ff] border-2 border-[#6b44ff] rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36 border-4 border-[#6b44ff]" src="/static/assets/001.png" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-900 font-bold mb-2">Rakesh</p>
                <span class="whitespace-nowrap rounded-full bg-[#6b44ff] px-3.5 py-2 text-sm text-gray-300">President</span>
            </div>
        </div>
        </div>
    </div>
</section>



{% endblock %}
