<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel  = "Stylesheet"  href="Style.css">
    <title>Document</title>
</head>
<body class="main">

    <div class="main-box top">
        <div class="msg1"><h1><b> Subscribe Our Newsletter </b></h2></div>
        <div class="msg "><h2><b>For Update About Games</b></h2></div>

    <div class="submsg"><p>Various trending news will be reset week.Don't miss best news every week!</p></div>
    <div class="submsg bottomspace"><p>best news every week!</p></div>

    <form class="container">
        <input  class="enterbox"  type="text" value="Type your email here...." >
        <button class="button"><b>Submit</b></button>
    </form>
    </div>
    <div class="solace"><b>SOLACE STUDIOS</b></div>
    <hr>
    
    <div class="outer">
    <div class="copyright color ">SOLACE @2022 All RIGHTS RESERVED</div>
    <div class="home color animat"><a>Home</a></div>
    <div class="contact color animat"><a>Contact</a></div>
    <div class="whitepaper color animat"><a>WhitePaper</a></div>
    <div class="icons color">
        <div class="facebook "><i class="fa-brands fa-facebook" style="color: #ffffff;"> facebook</i></div>
        <div class="facebook "><i class="fa-brands fa-facebook" style="color: #ffffff;"> Twitter</i></div>
        <div class="facebook "><i class="fa-brands fa-facebook" style="color: #ffffff;"> Discord</i></div>
        <div class="facebook "><i class="fa-brands fa-facebook" style="color: #ffffff;"> Instagram</i></div>
    </div>
    </div>
    
</body>
</body>
</html>