<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solace Studio | Home Page </title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
  <link rel="icon" href="/static/assets/logo.png" type="image/x-icon">
</head>

<body class="bg-[#0b0813] m-0 p-0 relative min-h-screen w-full h-full">

  {% if subscribe %}
  <div class="bg-green-100 border border-[#6b44ff] text-[#0b0813] px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Got it!</strong>
    <span class="block sm:inline">We will mail you with latest Bennett News.</span>
  </div>
  </span>
  {% endif %}

  {% set target_date = "2024-04-18" %}
  {% if current_date < target_date %}
  <div class="bg-[#6b44ff] px-4 py-3 h-12 text-gray-300">
    <p class="text-center text-sm font-medium">
      Solace Odyssey. 3 Days of Pure Gaming Bliss.
      <a href="https://dub.sh/solace-odyssey" class="inline-block text-gray-300 underline hover:text-white">Register Now!</a>
    </p>
  </div>
  {% endif %}
  <section class="bg-[#0b0813] m-0 p-0">

    <div class="relative min-h-screen flex flex-col justify-center items-center m-0">
      <nav class="absolute top-0 left-0 right-0 flex align-middle justify-between h-24 items-center z-50">
        <div
          class="text-gray-300 flex flex-row gap-0 ml-5 hover:text-purple cursor-pointer transition-all duration-200 relative group">
          <img src="/static/assets/logo.png" alt="" class="h-28">
          <a href="/"
            class="text-gray-300 py-8 font-bold ml-24 no-underline font-serif hover:text-[#6b44ff] text-2xl absolute"></a>
        </div>

        <div class="navigation flex">
          <ul class="lg:flex lg:gap-11 text-lg items-center justify-between hidden">
            <li
            class="text-gray-300 font-mullish font-bold py-3 hover:text-purple cursor-pointer transition-all duration-200 relative group">
            <a href="/about"
              class="text-gray-300 no-underline text-sm font-mullish font-bold py-3 hover:text-[#6b44ff] cursor-pointer transition-all duration-200 group">About</a>
          </li>
            <li
              class="relative text-gray-300 font-bold py-3 hover:text-[#6b44ff] cursor-pointer transition-all duration-200 group">
              <a href="/events"
                class="text-gray-300 no-underline text-sm font-mullish font-bold py-3 hover:text-[#6b44ff] cursor-pointer transition-all duration-200 group">Events</a>
            </li>
            <li
              class="text-gray-300 font-mullish font-bold py-3 hover:text-purple cursor-pointer transition-all duration-200 relative group">
              <a href="/games"
                class="text-gray-300 no-underline text-sm font-mullish font-bold py-3 hover:text-[#6b44ff] cursor-pointer transition-all duration-200 group">Games</a>
            </li>
            <li
            class="text-gray-300 font-mullish font-bold py-3 hover:text-purple cursor-pointer transition-all duration-200 relative group">
            <a href="/blogs"
              class="text-gray-300 no-underline text-sm font-mullish font-bold py-3 hover:text-[#6b44ff] cursor-pointer transition-all duration-200 group">Blogs</a>
          </li>
          </ul>
        </div>

        <div
          class="group text-gray-300 m-4 border-2 rounded-full py-3 px-3 font-mullish text-sm no-underline hover:bg-purple">
          <a href="/submit"
            class="group-hover:block text-sm text-gray-300 hover:text-gray-300 no-underline font-mullish font-bold">Submit
            Your Game</a>
        </div>
      </nav>

      <div class="absolute inset-0 z-10 flex flex-col justify-end items-center pb-10 ">

        <button class="bg-[#6b44ff] text-white mt-4 px-4 py-2 rounded-full hover:bg-[#4a29c5] hover:scale-110"
          onclick="window.location.href='#focus_game'">Game On</button>
      </div>

      <div
        class="hero-section overflow-hidden items-center flex justify-center min-h-screen w-full absolute top-0 left-0 right-0 z-0 m-0 p-0">
        <video src="/static/assets/background-video.mp4" class="w-full h-full object-cover absolute top-0 left-0"
          autoplay muted loop></video>
      </div>

    </div>

  </section>
  <img src="/static/assets/candy-cane.png" class="min-w-screen w-full h-8"></img>

  <section id="focus_game" class="max-h-[100%] text-gray-300 no-underline min-w-0 min-h-96 max-w-full pb-24">
    <div class="text-gray-300 flex pt-20 no-underline relative">
      <a href=""
        class="absolute left-10 sm:left-20 md:left-40 lg:left-60 xl:left-80 font-guirella text-gray-300 hover:text-[#6b44ff] no-underline text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">Adventure
        Racing</a>
  
      <p
        class="absolute top-36 sm:top-40 md:top-44 lg:top-48 xl:top-52 ml-5 left-10 sm:left-20 md:left-40 lg:left-60 xl:left-80">
        Our First Multiplayer Game is Launching
        <br>
        on June 1st 2024. Stay Tuned!
      </p>
  
      <img src="/static/assets/quickplay.png" alt=""
        class="absolute top-56 sm:top-60 md:top-64 lg:top-72 xl:top-76 left-10 sm:left-20 md:left-40 lg:left-60 xl:left-80 mb-20 pb-32">
        
        <img src="/static/assets/arcade.png" alt="Arcade Machine"
        class="absolute right-10 max-sm:hidden sm:right-20 md:right-35 lg:right-40 xl:right-60 top-15 w-auto max-w-xs sm:max-w-md md:max-w-xl lg:max-w-xl xl:max-w-2xl min-w-[100px] min-h-[100px] h-auto max-h-[300px]">
    </div>  
  </section>
  


  <section class="bg-[#0b0813] text-gray-300 pt-24 mb-12">
    <div class="text-center">
      <h1 class="text-3xl">Events</h1>
      <p class="text-xl text-gray-500">Events Filled with Joy.</p>
    </div>
    <div class="flex flex-wrap justify-center gap-4 pt-4 px-4 sm:px-6 md:px-8">
      <div class="hover:scale-105 delay-150">
        <a href="/event/1" class="block">
          <img alt="" src="/static/assets/gaming-bus.png"
            class="h-56 w-full min-w-96 max-sm:min-w-80 rounded-bl-3xl rounded-tr-3xl object-cover sm:h-64 lg:h-72" />

          <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4 lg:gap-6">
            <strong class="font-medium no-underline text-gray-300">Gaming</strong>

            <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-[#6b44ff]"></span>

            <p class="mb-0 opacity-50  no-underline text-gray-300">Bus</p>
          </div>
        </a>
      </div>
      <div class="hover:scale-105 delay-150">
        <a href="/event/2" class="block">
          <img alt="" src="/static/assets/build-blitz.png"
            class="h-56 w-full rounded-bl-3xl rounded-tr-3xl object-cover sm:h-64 lg:h-72" />

          <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
            <strong class="font-medium no-underline text-gray-300">BuildBlitz</strong>

            <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-[#6b44ff]"></span>

            <p class="mb-0 opacity-50 no-underline text-gray-300">Event</p>
          </div>
        </a>

      </div>


      <div class="hover:scale-105 delay-150">
        <a href="/event/3" class="block">
          <img alt="" src="/static/assets/unity-event.png"
            class="h-56 w-full rounded-bl-3xl rounded-tr-3xl object-cover sm:h-64 lg:h-72" />

          <div class="mt-4 sm:flex sm:items-center sm:justify-center sm:gap-4">
            <strong class="font-medium no-underline text-gray-300">Unity</strong>

            <span class="hidden sm:block sm:h-px sm:w-8 sm:bg-[#6b44ff]"></span>

            <p class="mb-0 opacity-50 no-underline text-gray-300">Workshop</p>
          </div>
        </a>

      </div>
    </div>
  </section>

  <footer class="bg-[#0b0813] text-white">
    <div class="px-8 py-12">
      <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl font-bold text-[#6b44ff] mb-2">Subscribe to our Mailing List</h2>
        <h2 class="text-4xl font-bold text-[#6b44ff]">For Updates About Events in Bennett University</h2>
        <p class="mt-4 text-lg">Various trending news will be sent every week. Don't miss out!</p>
        <form action="/subscribe" method="post">
          <div class="mt-8 flex justify-center space-x-2">
            <input
              class="flex h-10 bg-background text-[#6b44ff] text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 rounded-full px-4 py-2 w-96 border-2 border-[#6b44ff]"
              placeholder="Type your email here" type="email" name="email" />
            <button
              class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 bg-[#6b44ff] rounded-full px-4 py-2 text-white border-2 border-[#6b44ff]"
              type="submit">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="bg-[#6b44ff] py-4">
      <div class="flex flex-col items-center justify-between max-w-6xl mx-auto md:flex-row">
        <div class="flex items-center space-x-4">
          <img class="w-10 h-10" src="/static/assets/logo.png" alt="Solace Studio" />

          <span class="text-lg font-semibold">Solace Studio</span>
        </div>

        <div class=" flex items-center space-x-4 md:mt-0">
          <a href="https://www.instagram.com/solacestudiobu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="text-white h-6 w-6">
              <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/solacestudiobu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="text-white h-6 w-6">
              <path
                d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z">
              </path>
            </svg>
          </a>
          <a href="https://www.instagram.com/solacestudiobu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="text-white h-6 w-6">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="py-4 text-center text-sm">
      <span>Made with ❤️ in India. All rights reserved. &copy; 2024 Solace Studio. </span>
    </div>
  </footer>

</body>

</html>